<html>
<head>
    <meta charset="UTF-8">
    <style>
        html,body{
            height: 100%;
            margin: 0;
        }
        table{
            width: 100%;
        }
        table td{
            vertical-align: middle;
        }
    </style>
</head>
<body>
<table style="height: 100%;">
    <tr>
        <td>
            <table style="width: 870px; margin: 0 auto;">
                <tr>
                    <td><img src="/images/watch.png" style="width: 300px;" alt=""/></td>
                    <td style="vertical-align:top; padding: 60px;">
                        <h1 style="color: #396f90;">Сайт на реконструкции</h1>
                        <p><%- siteoffDesc %></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>