<div class="forms">
    <input type="hidden" ng-model="deletegroup.csrf" ng-init="deletegroup.csrf='<%-vars.csrf%>'"/>
    <input type="hidden" ng-model="deletegroup.id" ng-init="deletegroup.id='<%-vars.id %>'"/>
    <input type="hidden" ng-model="deletegroup.delete" ng-init="deletegroup.delete='1'"/>
    Вы действительно хотите удалить данную группу со всеми материалами?
</div>
