<div class="forms">
    <input type="hidden" name="page_csrf" value="<%-vars.csrf%>"/>
    <input type="hidden" name="page_id" value="<%-vars.id %>"/>
    Вы действительно хотите удалить данный материал и все вложенные в него материалы?
</div>
