<div class="widget landing" style='background: <%- vars.background %>'>
    <div class="units-container">
        <div class="units-row end">
            <div class="unit-100">
                <% if (vars.title){ %>
                <div class="widgettitle h1"><%-vars.title%></div>
                <%}%>
                <% if (vars.body){ %>
                <div class="widgetbody"><%-vars.body%></div>
                <%}%>
            </div>
        </div>
    </div>
</div>