<div class="widget">
    <% if (vars.title){ %>
        <div class="widgettitle h3"><%-vars.title%></div>
    <%}%>
    <% if (vars.body){ %>
        <div class="widgetbody"><%-vars.body%></div>
    <%}%>
</div>
