<div class="forms">
    <input type="hidden" ng-model="deleteApiForm.csrf" ng-init="deleteApiForm.csrf='<%-vars.csrf%>'"/>
    <input type="hidden" ng-model="deleteApiForm.id" ng-init="deleteApiForm.id='<%-vars.id %>'"/>
    <input type="hidden" ng-model="deleteApiForm.delete" ng-init="deleteApiForm.delete='1'"/>
    Вы действительно хотите данный роутер?
</div>